$chow-color-black: #000;
$chow-color-grey: #989898;
$chow-color-dark-grey: #657786; //rgb(101,119,134)
$chow-color-light-grey: #f5f8fa; //rgb(245,248,250)
$chow-color-white: #fff;

$chow-color-red: #df3034;
$chow-color-pink: #ca4a6c;
$chow-color-turquoise: #4acaa8;
$chow-color-light-blue: #0693e3;
$chow-color-blue: #005ea5; //rgb(0, 94, 165)

$chow-color-theme: $chow-color-turquoise;
$chow-color-text: $chow-color-black;
$chow-color-link: $chow-color-blue;
$chow-color-reset: $chow-color-red;
$chow-color-negative: $chow-color-pink;