<!DOCTYPE html>
<html>

<head>
    <title>Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="grid.css">
</head>

<body>
    <header>
        <h1 class="highlighter">App title</h1>
        <p class="highlighter">Something about the app.</p>
    </header>
    <main>
        <section class="highlighter">
            <h3>Recipes</h3>
        </section>
        <ul>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Quentin Dr on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e"
                        alt="Several hands holding beer glasses">
                    <figcaption>
                        <h3>Billions upon billions</h3>
                    </figcaption>
                </figure>
                <p>
                    Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon
                    billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Drew Farwell on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"
                        alt="Several friends doing a toast">
                    <figcaption>
                        <h3>Drake Equation</h3>
                    </figcaption>
                </figure>
                <p>
                    Another world citizens of distant epochs from which we spring descended from astronomers Orion's
                    sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Rawpixel on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80"
                        alt="Three different glasses of beer">
                    <figcaption>
                        <h3>Vast cosmic arena</h3>
                    </figcaption>
                </figure>
                <p>
                    Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas
                    brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Quentin Dr on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e"
                        alt="Several hands holding beer glasses">
                    <figcaption>
                        <h3>Billions upon billions</h3>
                    </figcaption>
                </figure>
                <p>
                    Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon
                    billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Drew Farwell on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"
                        alt="Several friends doing a toast">
                    <figcaption>
                        <h3>Drake Equation</h3>
                    </figcaption>
                </figure>
                <p>
                    Another world citizens of distant epochs from which we spring descended from astronomers Orion's
                    sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Rawpixel on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80"
                        alt="Three different glasses of beer">
                    <figcaption>
                        <h3>Vast cosmic arena</h3>
                    </figcaption>
                </figure>
                <p>
                    Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas
                    brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Quentin Dr on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e"
                        alt="Several hands holding beer glasses">
                    <figcaption>
                        <h3>Billions upon billions</h3>
                    </figcaption>
                </figure>
                <p>
                    Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon
                    billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li class="highlighter">
                <figure>
                    <!-- Photo by Drew Farwell on Unsplash -->
                    <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"
                        alt="Several friends doing a toast">
                    <figcaption>
                        <h3>Drake Equation</h3>
                    </figcaption>
                </figure>
                <p>
                    Another world citizens of distant epochs from which we spring descended from astronomers Orion's
                    sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
            </li>
        </ul>
    </main>
    <footer>
        <p class="highlighter">Rob did something.</p>
    </footer>
</body>

</html>