html {
    height: 100%;
}

body {
    display: grid;
    align-items: flex-start;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
    margin: 0;
}


/* just for de */
.highlighter {
    border-width: 1px;
    border-color: black;
    border-style: dotted;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #222;
    padding: 0 0.75rem;
}

nav>button {
    background: #222;
    font-size: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: none;
    border-bottom: 0.5rem solid #222;
    color: #fff;
    cursor: pointer;
}

nav>button:hover, nav>button.active {
    border-bottom-color: #4acaa8;
}

nav>button:focus {
    outline: none;
}






header {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: .5em;

    background-color: grey;
    padding: 2rem 1rem;
    min-width: 280px; /* needs to be 280px + 2rem when using Scss */
}

header>* {
    color: white;
    padding: .75rem;
    margin: 0;
}

header>h1 {
    font-size: 3rem;
}






main {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 8rem 1rem;
}

main>div {
    max-width: 1100px;
}

main h2 {
    font-size: 2rem;
    padding: 0rem .75rem;
    margin: 0;
}

main ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0.25rem 1em;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0;
    list-style: none;
}

main ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

main ul>li>figure>img {
    width: 100%;
}

main ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

main ul>li>figure>figcaption>h3 {
    color: white;
    padding: .75rem;
}




footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    padding: 3rem 0;
    background-color: grey;
}

footer>p {
    margin: 1rem;
    text-align: center;
}