<!DOCTYPE html>
<html>

<head>
    <title>Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="recipes.css">
</head>

<body>
    <nav>
        <button>Home</button>
        <button class="active">Recipes</button>
        <button>Settings..</button>
    </nav>
    <header>
        <h1>Chow Down</h1>
        <p>Chow down on a weekly plan of your evening meals.</p>
    </header>
    <main>
        <div>
            <h2 class="highlighter">Your recipes</h2>
            <ul>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/01/jacket-potato.jpg?itok=jFmhmfQn"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Jacket potato with whipped feta & sumac</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>The perfect budget-friendly, filling supper for one. The fragrant, zesty flavour of sumac is a
                        refreshing contrast to the creamy whipped feta.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/08/curried-cod.jpg?itok=7P5xS7qS"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Curried cod</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>An easy-to-prepare midweek one-pot with cod fillet, chickpeas, ginger and spices - it's healthy,
                        low calorie and packed with iron too!</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/07/peanut-butter-chicken.jpg?itok=mg1THxCG"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Peanut butter chicken</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>The whole family will love this new, budget chicken dish. Any leftovers freeze well and make a
                        handy lunch.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/user-collections/my-colelction-image/2015/12/recipe-image-legacy-id--513635_11.jpg?itok=CpUnFxL4"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Spring chicken in a pot</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>Casseroles aren't just for winter – this light, vibrant one-pot is packed with spring veg and
                        herby pesto.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/09/oregano-chicken-squash-traybake.jpg?itok=lX0GQDHS"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Oregano chicken & squash traybake</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                    </section>
                    <p>Try this low-calorie chicken, butternut squash and artichoke traybake as an easy dinner during
                        busy weekdays. It takes just five minutes to prepare.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2018/07/chilli-garlic-oregano-spatchcock-chicken-with-chipotle-aioli.jpg?itok=oGn3azLS"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Chilli, garlic & oregano spatchcock chicken with chipotle aïoli</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>Take simple ingredients beyond the norm with this fabulous spicy, herby spatchcock chicken with
                        chipotle aïoli. Serve with sweet potato wedges and salad.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/01/jacket-potato.jpg?itok=jFmhmfQn"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Jacket potato with whipped feta & sumac</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>The perfect budget-friendly, filling supper for one. The fragrant, zesty flavour of sumac is a
                        refreshing contrast to the creamy whipped feta.</p>
                </li>
                <li class="highlighter">
                    <figure>
                        <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/08/curried-cod.jpg?itok=7P5xS7qS"
                            alt="Some recipe">
                        <figcaption>
                            <h3>Curried cod</h3>
                        </figcaption>
                    </figure>
                    <section>
                        <mark>&#9733;</mark>
                        <mark>&#9733;</mark>
                    </section>
                    <p>An easy-to-prepare midweek one-pot with cod fillet, chickpeas, ginger and spices - it's healthy,
                        low calorie and packed with iron too!</p>
                </li>
            </ul>
        </div>
    </main>
    <footer class="highlighter">
        <p>&copy; Rob Butcher 2019.</p>
        <p>Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a> and recipe websites.</p>
    </footer>
</body>

</html>