/* refine and use fonts properly */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400');

html {
    font-family: "Lato", sans-serif;
    height: 100%;
}

body {
    display: grid;
    align-items: flex-start;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
    margin: 0;
}

/* just for dev */
.highlighter2 {
    border-width: 1px;
    border-color: black;
    border-style: dotted;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #222;
    padding: 0 .75rem;
}

nav>button {
    background: #222;
    font-size: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: none;
    border-bottom: .5rem solid #222;
    color: #fff;
    cursor: pointer;
}

nav>button:hover, nav>button.active {
    border-bottom-color: #4acaa8;
}

nav>button:focus {
    outline: none;
}

header {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: .5em;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("dinner-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1rem;
    min-width: 280px; /* needs to be 280px + 2rem when using scss calculate */
}

header>* {
    color: white;
    padding: .75rem;
    margin: 0;
}

header>h1 {
    font-size: 3rem;
}

header>p {
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 8rem 1rem;
}

main>div {
    max-width: 1100px;
}

main h2 {
    color: #4acaa8;
    font-size: 2rem;
    margin: 0;
}




/* copied up to here to Page component */


main ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem 2em;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0;
    list-style: none;
}

main ul>li {
    -webkit-box-shadow: 0 1px 0.25rem rgba(0, 0, 0, .08);
    box-shadow: 0 1px 0.25rem rgba(0, 0, 0, .08);
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 0.5rem;
    cursor: pointer;
}

main ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

main ul>li>figure>img {
    width: 100%;
}

main ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

main ul>li>figure>figcaption>h3 {
    color: white;
    padding: .5rem;
    margin: 0;
}

main ul>li>p {
    color: #888;
    padding: 0 .5rem 1.5rem 0.5rem;
    margin: 0;
}

main ul>li>section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2rem;
    padding: 0.5rem;
}

main ul>li>section>mark {
    color: #4acaa8;
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    padding: 3rem 0;
    color: #c0c0c0;
    background-color: #fafafa;
}

footer>p {
    margin: 1rem;
    text-align: center;
}