/* refine and use fonts properly then remove 'css-loader' */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400');

html {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;

  a, button, input, select {
    &:focus {
      outline: none;
    }
  }

  .red {
    border-color: #ca4a6c !important;
    color: #ca4a6c !important;
  }
}