openapi: '3.0.1'
info:
  title: 'RobChow'
    # Fn::Sub:
    #   - 'ChowDown-${Env}'
    #   - { Env: !Ref Env }
  version: '1.0'
paths:
  /api/recipes:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetRecipesFunction.Arn}/invocations'
        passthroughBehavior: 'when_no_match'
        httpMethod: 'POST'
        type: 'aws_proxy'
components: {}