openapi: "3.0.1"
info:
  title:
    Fn::Sub: 'ChowDown-${Env}'
  version: "1.0"
paths:
  /api/recipes:
    get:
      responses:
        200:
          description: "200 response"
          headers:
            Content-Type:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Recipe"
        410:
          description: "410 response"
          content: {}
        500:
          description: "500 response"
          content: {}
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetRecipesFunction.Arn}/invocations"
        responses:
          .*ResourcesNotFoundException.*:
            statusCode: "410"
            responseTemplates:
              application/json: "#set ($errorMessageObj = $util.parseJson($input.json('$')))\n\
                {\n  \"message\" : \"$errorMessageObj.errorMessage\"\n}"
          .*ServerException.*:
            statusCode: "500"
            responseTemplates:
              application/json: "#set ($errorMessageObj = $util.parseJson($input.json('$')))\n\
                {\n  \"message\" : \"$errorMessageObj.errorMessage\"\n}"
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Content-Type: "'application/json'"
        passthroughBehavior: "never"
        httpMethod: "POST"
        requestTemplates:
          text/html: ""
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recipe"
        required: true
      responses:
        201:
          description: "201 response"
          headers:
            Content-Type:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipe"
        410:
          description: "410 response"
          content: {}
        500:
          description: "500 response"
          content: {}
      x-amazon-apigateway-request-validator: "Validate body"
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${PutRecipeFunction.Arn}/invocations"
        responses:
          .*ResourcesNotFoundException.*:
            statusCode: "410"
            responseTemplates:
              application/json: "#set ($errorMessageObj = $util.parseJson($input.json('$')))\n\
                {\n  \"message\" : \"$errorMessageObj.errorMessage\"\n}"
          .*ServerException.*:
            statusCode: "500"
            responseTemplates:
              application/json: "#set ($errorMessageObj = $util.parseJson($input.json('$')))\n\
                {\n  \"message\" : \"$errorMessageObj.errorMessage\"\n}"
          default:
            statusCode: "201"
            responseParameters:
              method.response.header.Content-Type: "'application/json'"
        passthroughBehavior: "never"
        httpMethod: "POST"
        requestTemplates:
          application/json: "$input.body"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
components:
  schemas:
    Recipe:
      title: "Recipe schema"
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        rating:
          type: integer
        url:
          type: string
        image:
          type: string
      required:
      - title
      - description
      - url
      - image
x-amazon-apigateway-request-validators:
  Validate body:
    validateRequestParameters: false
    validateRequestBody: true