openapi: "3.0.1"
info:
  title:
    Fn::Sub: 'ChowDown-${Env}'
  version: "1.0"
paths:
  /api/recipes:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetRecipesFunction.Arn}/invocations"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        type: "aws_proxy"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recipe"
        required: true
      responses:
        201:
          description: "201 response"
          headers:
            Content-Type:
              schema:
                type: "string"
          content: {}
        410:
          description: "410 response"
          content: {}
      x-amazon-apigateway-request-validator: "Validate body"
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${SwaggerTypedPostFunction.Arn}/invocations"
        responses:
          .*ResourcesNotFoundException.*:
            statusCode: "410"
            responseTemplates:
              application/json: "#set ($errorMessageObj = $util.parseJson($input.json('$')))\n\
                {\n  \"message\" : \"$errorMessageObj.errorMessage\"\n}"
          default:
            statusCode: "201"
            responseParameters:
              method.response.header.Content-Type: "'application/json'"
        passthroughBehavior: "never"
        httpMethod: "POST"
        requestTemplates:
          application/json: "$input.body"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
components:
  schemas:
    Recipe:
      title: "Recipe schema"
      type: object
      properties:
        id:
          type: string
        title:
          type: string
      required:
      - id
      - title
x-amazon-apigateway-request-validators:
  Validate body:
    validateRequestParameters: false
    validateRequestBody: true